<!DOCTYPE html>
<html>
<head>
    <title>Information Contact</title>
</head>
<body>
    <h2>Contact</h2>
    <p>For more information regarding the application please contact one of the founder's emails:</p>
    <ul>
        <li>M012D4KY3050@bangkit.academy</li>
        <li>C012D4KY0303@bangkit.academy</li>
        <li>M014D4KX2076@bangkit.academy</li>
        <li>M468D4KY1800@bangkit.academy</li>
    </ul>
    <p>Click <a href="{{url_for('index')}}">here </a>to return to the main page</p>
</body>
</html>